// styles/UserCard.module.scss

.card {
  width: 300px;
  height: 180px;
  background-color: #fff;
  border-radius: 10px;
  border-color: #b5b1b1;
  box-shadow: 10px 10px 10px rgba(50, 49, 49, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-top: 5rem;
  margin-right: 5rem;
  // padding-left: 4rem;
  text-align: left;

  @media (max-width: 768px) {
    width: 100%;
    margin-right: 0;
    margin-bottom: 2rem; /* Adjust spacing between cards */
  }
}

.iconContainer {
  width: 60px;
  height: 60px;

  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.icon {
  font-size: 20px;
}

.info {
  .name {
    font-size: 14px;
    margin: 0;
    margin-bottom: 1rem;
    color: #545f7d;
  }

  .number {
    font-size: 20px;
    font-weight: bold;
    color: #545f7d;
  }

  @media (max-width: 768px) {
    .info {
      text-align: center; /* Center align text on small screens */
    }
  }
}
